@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #f43f5e;
  color: #f7f7f7;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #f43f5e;
  border-radius: 50px;
  height: 10%;
}

html,
body {
  overflow-x: hidden;
}

.link-item {
  position: relative;
}

.link-item::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #4b5563;
  transition: all 0.35s;
}

.link-item:hover::after {
  width: 100%;
}

.hero-section {
  background-image: url("https://images.unsplash.com/photo-1567401893414-76b7b1e5a7a5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d29tZW4lMjBmYXNoaW9ufGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.product-title::after {
  content: "";
  position: absolute;
  width: 10%;
  height: 2px;
  background: #4b5563;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: -50px;
}

input[type="search"]::placeholder {
  color: #4b5563;
  text-transform: capitalize;
}
