@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

.link-item {
  position: relative;
}

.link-item::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: rgb(95, 94, 94);
  transition: all 0.35s;
}

.link-item:hover::after {
  width: 100%;
}

.hero-section {
  background-image: url("https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
